.container {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  width: 100%;
  color: #66fcf1;
}

.img {
  position: relative;
  height: 20rem;
  width: 100%;
}

.img img{
  border-radius: 1rem;
}
