.container{
    display:  flex;
    flex-flow: column nowrap;
    color: #66fcf1;
    margin-top: 1rem;
}

.skillItem{
    /* display: grid;
    grid-template-columns: 40% 60%;
    margin: 0.4rem 0px; */
    display: flex;
    flex-flow: row;
    margin: 0.2rem 0.6rem ;
    background-color: white;
    color: black;
    padding: 0.2rem;
    border-radius: 0.2rem;
}